* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  width: 100%;
  height: cover;
  background-image: url("https://wallpapercave.com/wp/wp7563506.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

header {
  padding: 7px;
  background-color: rgba(12, 12, 12, 0.8);
  color: #f2f2f2;
}

header * {
  width: 50%;
}

header p {
  margin-top: auto;
  margin-bottom: auto;
}

#root, #root > div, main {
  width: inherit;
  height: inherit;
}

.todos {
  background-color: rgba(12, 12, 12, 0.8);
  color: #f2f2f2;
  width: 400px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 1px;
}

.todos .task-container {
  max-height: 50vh;
  overflow-y: auto;
}

.todos .task-container > div {
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  font-size: 1.15em;
}

.todos .task-container .task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

.todos .task-container .task li {
  padding: 10px;
  width: calc(100% - 50px);
}

.todos .task-container .task button {
  width: 30px;
  height: 30px;
  color: #f2f2f2;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  border: 1px solid #f2f2f2;
  background-color: rgba(155, 149, 149, 0);
}

.todos .task-container > div:hover {
  background-color: rgba(12, 12, 12, 0.8);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.todos .info {
  text-align: center;
  padding: 10px;
  font-size: 1.3em;
}

.todos form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.todos .filterForm {
  border-top: 1px solid black;
}

.todos .filterForm .btn-all {
  width: 20%;
}

.todos .filterForm .btn-active {
  width: 30%;
}

.todos .filterForm .btn-completed {
  width: 50%;
}

.todos .checkForm {
  border-top: 1px solid black;
}

.todos .checkForm button {
  width: 50%;
}

.todos .deleteForm {
  border-top: 1px solid black;
}

.todos .deleteForm button {
  width: 100%;
}

.todos input {
  padding-left: 10px;
  font-size: 1em;
  border: 0;
  width: 60%;
}

.todos button {
  border-radius: 0;
  font-size: 1em;
  width: 40%;
}

.completed {
  font-weight: 300;
  text-decoration: line-through;
  color: #a9a9a9;
}

.login-form {
  width: 400px;
  max-width: 100%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 40px 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  background-color: rgba(12, 12, 12, 0.6);
  border-radius: 5px;
}

.login-form h2 {
  font-size: 2.2em;
  text-shadow: 2px 2px #0c0c0c;
}

.login-form p {
  margin-left: auto;
  margin-right: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.login-form p:hover {
  font-weight: bold;
  cursor: pointer;
}

.login-form label {
  color: #f2f2f2;
  text-align: center;
  font-size: 1.5em;
}

.login-form input {
  padding: 5px;
}
/*# sourceMappingURL=App.css.map */